*,
*::before,
*::after {
  box-sizing: border-box;
}

font-header: "Arvo", serif;
font-text: "Lato", sans-serif;

body {
  margin: 0;
  text-align: center;
  background: #fbffff;
  color: red;
  font-size: 16px;
  line-height: 1.7;
}

article {
  text-align: center;
}
.container {
  display: inline-block;
  text-align: left;
}

h1 {
  font-size: 35px;
  margin-bottom: 10px;
  font-family: "Arvo", serif;
  font-weight: 700;
}

h2 {
  margin-top: -5px;
  margin-bottom: 50px;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  font-family: "Arvo", serif;
}

p {
  font-family: "Lato", sans-serif;
  margin: 20px 0;
}

p:last-of-type {
  margin: 50px 0;
}

p span {
  font-style: italic;
}
